.root-details {
    width: 100%;
    background-color: #f5f8fd;
    overflow: visible;
    scrollbar-width: none; 
   -ms-overflow-style: none; 
}
.root-details::-webkit-scrollbar {
   display: none;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #f5f8fd;
    font-family: 'Raleway', 'sans-serif';
}
.header > h2 {
    font-weight: 200;
    font-size: 28px;
    margin-left: 9px;
}
.header > section > h4 {
    font-weight: 400;
}
.home-details {
    color: rgb(23, 107, 155);
}
.home-details:hover {
    cursor: pointer;
    color:#20A4F3;
}
.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: white;
    border: 1px solid rgb(23, 107, 155);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
}
.dots {
    margin-top: -20px;
}
.button-15 {
    background-image: linear-gradient(#42A1EC, #0070C9);
    border: 1px solid #0077CC;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    direction: ltr;
    display: block;
    font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.47059;
    min-width: 30px;
    overflow: visible;
    padding: 4px 15px;
    text-align: center;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.button-15:disabled {
  cursor: default;
  opacity: .3;
}

.button-15:hover {
    background-image: linear-gradient(#51A9EE, #147BCD);
    border-color: #1482D0;
    text-decoration: none;
}

.button-15:active {
    background-image: linear-gradient(#3D94D9, #0067B9);
    border-color: #006DBC;
    outline: none;
}

.button-15:focus {
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
    outline: none;
}

.dot.active {
    background-color: rgb(23, 107, 155);
}
.picture-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image-stack {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9; 
}

.detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.detail-image {
    position: absolute;
    top: 0;
    left: 10px;
    width: 100%;
    border-radius: 12px;
    object-fit: cover;

    opacity: 0;
    pointer-events: none;

    transform: translateX(-70px) scale(0.98);

    transition: opacity 0.6s ease, transform 0.6s ease;
    will-change: opacity, transform;
}
.detail-image.visible {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0) scale(1);
}
.detail-image:hover {
    cursor: pointer;
}
.containers {
    display: flex; 
    justify-content: space-between;
    background-color: #f5f8fd;
}
.container-one {
    width: 60%;
    background-color: #f5f8fd;
    height: fit-content;
}
.container-two {
    display: flex;
    flex-direction: column;
    width: 38%;
    height: auto;
    min-height: fit-content;
}
.project-information {
    width: 85%;
    background-color: white;
    border-radius: 16px;
    padding: 10px;
    font-family: "Raleway", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 10px;
}
.project-information > h2 {
    margin-left: 15px;
    border-bottom: solid rgb(235, 229, 229) 1px;
    padding-bottom: 1rem;
}
.project-information > p {
    margin-left: 15px;
    line-height: 1.4;
}
.project-details {
    width: 85%;
    background-color: white;
    border-radius: 16px;
    padding: 10px;
    font-family: "Raleway", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 15px;
}
.project-details > p {
    font-weight: 400;
    line-height: 1.4;
}
.slide-in {
    transform: translateX(20px);
    opacity: 0;
    animation: slideIn 1s ease-in-out forwards;
}
.tech-tile {
    background: #f5f8fd;
    border-radius: 14px;
    padding: 14px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 250ms cubic-bezier(0.22, 1, 0.36, 1);
    will-change: transform;
}
.tech-tile:hover {
    transform: scale(1.08);
}
.tabs {
    width: 57.5%;
    margin-left: 10px;
}
.tab-div {
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}
.tab-div > span.active {
    color: rgb(23, 107, 155);
}
.tab-div > span:hover {
    cursor: pointer;
    color: rgb(23, 107, 155);
}

@media (max-width: 932px) {
    .containers {
        display: flex;
        flex-direction: column;
    }
    .container-one {
        width: fit-content;
        height: fit-content;
    }
    .container-two {
        width: fit-content;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    .picture-container {
        width: 95vw;
    }
    .dots {
        margin-bottom: 20px;
        margin-top: -20px;
    }
    .project-information {
        width: 91%;
    }
    .project-details {
        width: 91%;
    }
}

@media (max-width: 768px) {
   .containers {
        display: flex;
        flex-direction: column;
    } 
    .container-one {
        width: fit-content;
        height: fit-content;
    }
    .container-two {
        width: 100vw;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    .project-information {
        width: 91%;
    }
    .project-details {
        width: 91%;
    }
    .header {
        display: flex;
        flex-direction: column;
        margin-left: 1%;
    }
    .header > h2 {
        margin-bottom: -5px;
        margin-left: 0;
    }
    .detail-image {
        height: 100%;
    }
    .picture-container {
        width: 95vw;
    }
     .dots {
        margin: 10px;

    }
    .tabs {
        width: 80%;
    }
}

@media (max-width: 520px) {
    .tabs {
        width: 95%;
        margin-left: -.1px;     
        padding-left: 4px;   
    }
    .picture-container {
        width: 95vw;
    }
    .dots {
        margin: 10px;

    }
    .project-information {
        width: 90%;
    }
    .project-details {
        width: 90%;
    }

}

