#modal {
  position: fixed;
  inset: 0;
  z-index: 1000;
}

#modal-background {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.904);
}

#modal-content {
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  display: flex;
}

#modal-content > a  {
  max-width: 100%;
  max-height: 80vh;
  border-radius: 20px;
  height: fit-content;
  width: fit-content;
}

#modal-content a img {
  max-width: 80vw;
  max-height: 100vh;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 20px;
}

#modalImage-container {
  display: flex;
  justify-content: center;
  width: 98%;
}

#modal-button {
  display: flex;
  all: revert;
  background: none;
  border: none;
  color: white;
  font-size: clamp(24px, 6vw, 36px);
  height: fit-content;
}

#modal-button:hover {
  cursor: pointer;
}
.modalButton-container {
  display: flex;
  justify-content: center;
  align-items: center;
}




