.nav-bar {
    display: flex;
    flex-direction: column;
    width: 19.3vw;
    color: white;
    background-color: rgb(24, 24, 24);
    font-family: "Open Sans", sans-serif;
    height: 100vh;

    overflow-y: auto;
    overflow-x: auto;
}
.img-container {
    margin-top: 5%;
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}
#peter {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: white solid 5px;
    margin-bottom: 6%;
}
#name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 7%;
}
.nav-links {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    overflow-y: auto;
    flex: 1;
}
.nav-links > span {
    padding: 18px 20px;
    width: fit-content;
}
#github-span, #linkedIn-span {
    border-radius: 50%;
    background-color: rgb(44, 44, 44);
    padding: 7.5px 9.5px;
}
#github-span:hover, #linkedIn-span:hover {
    background-color: #20A4F3;
}
.nav-links > span:hover > span {
    color: white;
    cursor: pointer; 
}

.nav-links > span:hover .icon {
    color:#20A4F3;
    cursor: pointer;  
}
.nav-links > span > span {
    color: #C1CFDA;
    transition: .3s ease-in-out;
}

.nav-links > span .icon {
    color: #C1CFDA;
    transition: .3s ease-in-out;
}
.nav-links > span.active .icon{
    color:#20A4F3;
    cursor: pointer;  
}
.nav-links > span.active span{
    color: white;
    cursor: pointer;   
}
@media (max-width: 932px) {
    .root-div {
        position:fixed;
        z-index: 9990; 
        transition: transform .3s ease-in-out
    }
    .nav-open {
        transform: translateX(0);
    }
    .nav-close{
        transform: translateX(-100%);
    }
    .nav-bar {
        width: 65vw;
    }
}